
.book {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ddd;
  padding: 1rem;
  border-radius: 0.2rem;
  margin-block: 1rem;

  .progressBox {
    display: flex;
    background-color: rgba(royalblue, 0.2);
    align-items: center;
    // gap: 1rem;
    h3 {
      font-weight: unset;
    }
  }

  .updateBox {

  }

}


