// $black: #1e1e1e;
$black: #121212;
$medium-blue: #307bbe;
$dodger-blue: #379cf6;
$fade-blue: #4386bf;
$black-5: #777;
$white: #e8e8e8;
$gray: #888;
$azure: #0290ff;
$pinkish-grey: #c4c4c4;
